CONFIG_TARGET_ar71xx_generic_CARAMBOLA2=y
CONFIG_DEVEL=y
CONFIG_DOWNLOAD_FOLDER="$(TOPDIR)/DL_symlink"
CONFIG_BUILD_LOG=y
CONFIG_BINARY_FOLDER="$(TOPDIR)/bin/demoB"
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_IMAGEOPT=y

CONFIG_TOOLCHAINOPTS=y
CONFIG_TARGET_OPTIONS=y

# CONFIG_IPV6=n
CONFIG_PACKAGE_odhcp6c=n
CONFIG_PACKAGE_odhcpd=n

CONFIG_PKG_CHECK_FORMAT_SECURITY=y
CONFIG_SRC_TREE_OVERRIDE=y
CONFIG_PACKAGE_hello=y
CONFIG_PACKAGE_paxctl=y



